@import "tailwindcss";

body {
     font-family: 'Hanken Grotesk';
}


.hide-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
     display: none;
}